<header id="navbar">

    <nav class="nav-container">

        <div class="brand">
            <span class="logo-text">LØWSET</span>
        </div>

        <div class="nav-right">

            <div class="nav-links">
                <a href="../home/index.html">Home</a>
                <a href="../work/index.html">Work</a>
                <a href="../films/index.html">Films</a>
                <a href="../book/index.html">Booking</a>
                <a href="../about/index.html">About</a>
                <a href="../godspeed/index.html">Godspeed</a>
            </div>

            <div class="hamburger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

    </nav>

    <div id="mobileMenu" class="mobile-menu">
        <a href="../home/index.html">Home</a>
        <a href="../work/index.html">Work</a>
        <a href="../films/index.html">Films</a>
        <a href="../book/index.html">Booking</a>
        <a href="../about/index.html">About</a>
        <a href="../godspeed/index.html">Godspeed</a>
    </div>

</header>